{
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "none",
  "tailwindFunctions": ["clsx", "cva"],
  "tailwindStylesheet": "./src/app/globals.css"
}
